In [1]:
import pandas as pd

In [2]:
# load the excel file into a pandas dataframe
df = pd.read_excel("case_study.xlsx", "Dataset - Excel Test 2")
df.set_index('Date', inplace = True)
df

                Time     Content type     Reach  Engagement     View  Clicks
Date
2021-04-11  16:00:00  Carousel Poster  122816.0      1926.0      0.0     0.0
2021-04-12  19:04:00  Carousel Poster   53966.0       805.0      0.0    82.0
2021-04-14  15:00:00  Carousel Poster   83629.0      1661.0      0.0   158.0
2021-04-15  15:00:00  Carousel Poster   54257.0      1131.0      0.0     0.0
2021-04-16  15:10:00  Carousel Poster   87466.0      7923.0      0.0   200.0
...              ...              ...       ...         ...      ...     ...
2021-06-30  09:00:00            Video  115975.0      5251.0  37000.0     8.0
2021-06-30  15:00:00            Video   21260.0       900.0  20000.0    23.0
2021-06-30  21:29:00            Video   22690.0      1253.0  21000.0     1.0
2021-06-30  22:00:00            Video   59350.0      1880.0  10000.0   130.0
2021-05-10       NaN              NaN       NaN         NaN      NaN     NaN

[875 rows x 6 columns]

In [3]:
df.head(20)

                Time     Content type     Reach  Engagement  View  Clicks
Date
2021-04-11  16:00:00  Carousel Poster  122816.0      1926.0   0.0     0.0
2021-04-12  19:04:00  Carousel Poster   53966.0       805.0   0.0    82.0
2021-04-14  15:00:00  Carousel Poster   83629.0      1661.0   0.0   158.0
2021-04-15  15:00:00  Carousel Poster   54257.0      1131.0   0.0     0.0
2021-04-16  15:10:00  Carousel Poster   87466.0      7923.0   0.0   200.0
2021-04-17  13:00:00  Carousel Poster   73924.0      1766.0   0.0     2.0
2021-04-18  11:55:00  Carousel Poster   54036.0      1317.0   0.0     0.0
2021-04-19  12:00:00  Carousel Poster   68262.0      2620.0   0.0     0.0
2021-05-12  15:00:00  Carousel Poster   20153.0      1015.0   0.0     0.0
2021-06-08  11:00:00  Carousel Poster   34457.0       225.0   0.0     7.0
2021-06-23  10:00:00  Carousel Poster  193106.0     16538.0   0.0     0.0
2021-06-24  10:00:00  Carousel Poster   89850.0      3780.0   0.0     0.0
2021-06-26  10:00:00  Carousel Poster   49419.0      1501.0   0.0     0.0
2021-06-26  23:00:00  Carousel Poster   22239.0       590.0   0.0    60.0
2021-06-30  10:00:00  Carousel Poster   78649.0      3434.0   0.0     0.0
2021-04-08  15:22:00     Cover Update   47582.0       597.0   0.0   217.0
2021-05-21  14:23:00     Cover Update    8493.0       199.0   0.0     0.0
2021-05-27  23:26:00   Cover Updating    1010.0         8.0   0.0     0.0
2021-04-01  17:08:00      Infographic   34154.0       273.0   0.0    57.0
2021-04-02  17:05:00      Infographic   28711.0       184.0   0.0    33.0

In [4]:
# Get the number of unique groups in a column
typeofcontent = len(df['Content type'].unique())
typeofcontent

14

In [5]:
# Get the number of unique groups in a column
col_name = 'Content type'

# Get the unique groups in the column
groups = df[col_name].unique()

# Print the unique groups in the column
groups

array(['Carousel Poster', 'Cover Update', 'Cover Updating', 'Infographic',
       'Live', 'LIve', 'New Video', 'PDF', 'Photo', 'Quiz',
       'Regular Poster', 'Text Post', 'Video', nan], dtype=object)

In [6]:
## Handaling missing Data or error Data

In [7]:
# Count the number of NaN values in each column
nan_count = df.isna().sum()

# Get the column names that have NaN values
nan_cols = nan_count[nan_count > 0].index

# Print the result
print("Columns with NaN values:")
for col in nan_cols:
    print("-", col, ":", nan_count[col])

Columns with NaN values:
- Time : 5
- Content type : 1
- Reach : 27
- Engagement : 12
- View : 36
- Clicks : 19

In [8]:
new_df = df.interpolate()
new_df

                Time     Content type     Reach  Engagement     View  Clicks
Date
2021-04-11  16:00:00  Carousel Poster  122816.0      1926.0      0.0     0.0
2021-04-12  19:04:00  Carousel Poster   53966.0       805.0      0.0    82.0
2021-04-14  15:00:00  Carousel Poster   83629.0      1661.0      0.0   158.0
2021-04-15  15:00:00  Carousel Poster   54257.0      1131.0      0.0     0.0
2021-04-16  15:10:00  Carousel Poster   87466.0      7923.0      0.0   200.0
...              ...              ...       ...         ...      ...     ...
2021-06-30  09:00:00            Video  115975.0      5251.0  37000.0     8.0
2021-06-30  15:00:00            Video   21260.0       900.0  20000.0    23.0
2021-06-30  21:29:00            Video   22690.0      1253.0  21000.0     1.0
2021-06-30  22:00:00            Video   59350.0      1880.0  10000.0   130.0
2021-05-10       NaN              NaN   59350.0      1880.0  10000.0   130.0

[875 rows x 6 columns]

In [9]:
# Check the number of NaN values in each column
nan_count = new_df.isna().sum()

# Get the column names that have NaN values
nan_cols = nan_count[nan_count > 0].index

# Print the result
print("Columns with NaN values:")
for col in nan_cols:
    print("-", col, ":", nan_count[col])

Columns with NaN values:
- Time : 5
- Content type : 1

In [10]:
# create the pivot table with average values of reach, engagement, views, and clicks(with NaN values)
pivot_table = df.pivot_table(index="Content type",values=["Reach", "Engagement", "View", "Clicks"], aggfunc="mean")
# display the pivot table
print(pivot_table)

                     Clicks   Engagement         Reach           View
Content type
Carousel Poster   33.933333  3082.133333  72415.266667       0.000000
Cover Update     108.500000   398.000000  28037.500000       0.000000
Cover Updating     0.000000     8.000000   1010.000000       0.000000
Infographic       47.571429   265.571429  52662.857143       0.000000
LIve              55.500000  4214.500000  73457.500000   12500.000000
Live              62.187845  9273.175824  35067.983516    8541.620879
New Video         71.750000  1289.250000  31523.500000   23250.000000
PDF               42.500000   545.500000  44910.000000       0.000000
Photo              0.000000   393.000000  12658.000000       0.000000
Quiz              15.535714  5486.964286  79604.416667       0.000000
Regular Poster    67.415638   933.154472  36404.838843      26.773279
Text Post         17.200000   948.200000  59118.600000      25.800000
Video             34.882192  1205.625000  38068.747922  104471.626822

In [11]:
# create the pivot table after fill the NaN value with average values of reach, engagement, views, and clicks
pivot_table = new_df.pivot_table(index="Content type",values=["Reach", "Engagement", "View", "Clicks"], aggfunc="mean")
# display the pivot table
pivot_table

                     Clicks   Engagement         Reach          View
Content type
Carousel Poster   33.933333  3082.133333  72415.266667      0.000000
Cover Update     108.500000   398.000000  28037.500000      0.000000
Cover Updating     0.000000     8.000000   1010.000000      0.000000
Infographic       47.571429   265.571429  52662.857143      0.000000
LIve              55.500000  4214.500000  73457.500000  12500.000000
Live              61.803279  9241.789617  35104.920765   8543.579235
New Video         71.750000  1289.250000  31523.500000  23250.000000
PDF               42.500000   545.500000  44910.000000      0.000000
Photo              0.000000   393.000000  12658.000000      0.000000
Quiz              15.535714  5486.964286  77390.071429      0.000000
Regular Poster    66.185259   919.818725  36784.440239     26.346614
Text Post         17.200000   948.200000  59118.600000     25.800000
Video             34.851206  1200.969169  38003.756032  98193.418231

In [12]:
# filter data for only "REGULAR POSTERS"
df = df[df['Content type'] == 'REGULAR POSTER']

# calculate the moving average with a 7-day window
df['Clicks - Moving Average'] = df['Clicks'].rolling(window=7).mean()

# print the result
print(df)

Empty DataFrame
Columns: [Time, Content type, Reach, Engagement, View, Clicks, Clicks - Moving Average]
Index: []